//Common
@c: #fc6c24;
@fw: bold;
@h3c: #294a70;
@ts: 1px 1px 2px #000000;

& when (@media-common = true) {
  .custom-block, .my-block {
    font-weight: @fw;
  }

  .cms-plp-page {
    border: 1px solid #dadada;
    color: #949493;
    padding: 5px 5px 5px 17px;
    font-size: 0.9em;
    background: #f0f0f0;
  }



  h3 {
    color: @h3c;
  }

  .block-name {
    color: #fc6c24;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
  }

  .sql-query span {
    color: red;
  }

  .current-date {
    color: darkblue;
  }

  .order-span {
    color: #0e301a;
  }

  .order-go-back {
    font-weight: bolder;
    color: #006bb4;
    font-size: 1.5em;
    text-decoration: none;
  }

  .customer-item {
    color: darkred;
  }

  .color-fw {
    color: @c;
    font-weight: @fw;
    text-shadow: @ts;
  }

  .span-color {
    color: #935b4a;
    text-shadow: @ts;
  }

  .test-sidebar-header {
    margin-top: -10px;
  }

  ul.test-sidebar-nav {
    list-style: none;
    margin-left: -39px;
  }

  .test-sidebar-nav li {
    font-weight: @fw;
  }

  .cms-plp-page {
    position: relative;
    border: 1px solid #dadada;
    color: #333333;
    padding: 5px 5px 5px 17px;
    font-size: 0.9em;
    background: #f0f0f0;

    a {
      position: absolute;
      padding: 0 5px 0 5px;
      background: #f0f0f0;
      color: #0000005e;
      line-height: 1.2em;
      top: 4px;
      right: 10px;
      font-size: 1em;
      border: 1px solid #00000045;
    }

    a:hover {
      background: #0000005e;
      color: #ffffff;
    }
  }


  .customers {
    &.container {
      position: relative;

      #orders-container {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        width: 500px;
        background-color: aliceblue;
        height: 100%;

        .orders.items {
          position: relative;
          padding: 40px 25px;

          .close {
            display: block;
            position: absolute;
            top: 40px;
            right: 25px;
            font-weight: 600;
            color: #cd181d;
          }

          .label {
            .orders-label {
              color: teal;
            }
          }

          .orders-list.wrapper {
            padding: 25px;

            ul.orders {
              list-style-type: none;

              .order {
                display: block;

                .line {
                  display: block;

                  .label, .value {
                    display: inline-block;
                  }

                  .label {
                    color: darkmagenta;
                  }

                  .value {
                    font-weight: 600;
                    color: forestgreen;
                  }
                }
              }
            }
            .show-more {
              padding-left: 40px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
