<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <type name="Slayer\Mobile\Api\Data\PhoneInterface">
            <plugin name="phone_price_plugin" type="Slayer\Mobile\Plugin\Model\PhonePricePlugin" sortOrder="10" disabled="false" />
        </type>
</config>