<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Slayer\Mobile\Api\ManufacturerRepositoryInterface"
                type="Slayer\Mobile\Model\ManufacturerRepository"/>
    <preference for="Slayer\Mobile\Api\Data\ManufacturerInterface"
                type="Slayer\Mobile\Model\ManufacturerModel"/>
    <preference for="Slayer\Mobile\Api\PhoneRepositoryInterface"
                type="Slayer\Mobile\Model\PhoneRepository"/>
    <preference for="Slayer\Mobile\Api\Data\PhoneInterface"
                type="Slayer\Mobile\Model\PhoneModel"/>

    <type name="Magento\Directory\Model\Currency\Import\Config">
        <arguments>
            <argument name="servicesConfig" xsi:type="array">
                <item name="currencyLayer" xsi:type="array">
                    <item name="label" xsi:type="string">Currency Layer</item>
                    <item name="class" xsi:type="string">Slayer\Mobile\Model\Currency\Import\CurrencyLayer</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slayer_mobile_manufacturers_listing_data_source" xsi:type="string">Slayer\Mobile\Model\ResourceModel\Manufacturers\Grid\Collection</item>
            </argument>
        </arguments>
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slayer_mobile_phones_listing_data_source" xsi:type="string">Slayer\Mobile\Model\ResourceModel\Phones\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Slayer\Mobile\Model\ResourceModel\Manufacturers\Grid\Collection" type="Slayer\Mobile\Model\ResourceModel\ManufacturersGridCollection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mobile_manufacturer_table</argument>
            <argument name="eventPrefix" xsi:type="string">slayer_mobile_manufacturers_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">slayer_mobile_manufacturers_collection</argument>
            <argument name="resourceModel" xsi:type="string">Slayer\Mobile\Model\ResourceModel\Manufacturer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Slayer\Mobile\Model\ResourceModel\Phones\Grid\Collection" type="Slayer\Mobile\Model\ResourceModel\PhonesGridCollection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mobile_phone_table</argument>
            <argument name="eventPrefix" xsi:type="string">slayer_mobile_phones_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">slayer_mobile_phones_collection</argument>
            <argument name="resourceModel" xsi:type="string">Slayer\Mobile\Model\ResourceModel\Phone</argument>
        </arguments>
    </virtualType>
</config>
