/** COMMON VARIABLES **/
@font: normal 1em/1.2em Times, 'Helvetica Neue', sans-serif;
@fw-bold: 600;
@blue1: #26769f;
@blue2: #06799F;
@blue3: #4b75ba;
@orange: #ce771a;
@grey:#6e716e;
@white: #ffffff;
@font-size: 1em;
@bs: 0 0 8px 2px #dee0e2;

/** MIXINS **/
.manufacturer-btn {
  display: inline-block;
  color: @white;
  font-size: 2rem;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #d48836;
  border: 2px solid #f7b670;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #8e6131;
    border-color: #b55e00;
  }
}

.headers(@color: @blue2; @font-size: 2.9em; @font-weight: 700; @text-align: center;
  @margin: 0; @text-shadow: 1px 1px 1px #2e7a88;) {
  color: @color;
  font-size: @font-size;
  font-weight: @font-weight;
  text-align: @text-align;
  margin: @margin;
  text-shadow: @text-shadow;
}

/** COMMON STYLES **/
& when (@media-common = true) {

  .switcher-store, .switcher-language {
    background-color: @grey;
    padding: 0 5px;
    border-radius: 2px;
    .switcher-dropdown {
      border-radius: 2px;
    }
  }
  .switcher-language {
    background-color: @orange;
  }

  .category-view {
    position: relative;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: @bs;
    min-height: 400px;

    .my-sorting {
      margin-left: -171px;
      margin-top: 55px;
      width: 400px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      appearance: none;
      display: block;
      &:focus, &:hover,
      option:hover, option:focus {
        border:none;
        outline:none;
        border:transparent;
        box-shadow: none;
      }
    }

    form {
      margin: 0;
    }

    h1.manufacturer-block-name {
        .headers(@color: @orange; @font-size: 2.5rem; @text-align: center; @text-shadow: none);
        &::first-letter {
          text-transform: uppercase;
        }
      }

      .manufacturer-container {
        padding: 5px;
        h1, h2, h3, p, span, a {
          font: @font;
        }

        a, a:hover {
          text-decoration: none;
        }
        a.manufacturer-btn {
          .manufacturer-btn();
        }

        h3.view-model {
          font-size: 1.25em;
          span {
            color: @orange;
            font-weight: @fw-bold;
          }
        }

        .manufacturers-sort {
          position: relative;
          margin-bottom: 45px;
          .manufacturers-list {
            width: auto;
            padding: 7px 26px 5px 10px;
            margin-bottom: 10px;
            height: 100%;
            color: @grey;
            cursor: pointer;
            border-radius: 8px;
            border: 1px solid #cccccc;
            &:hover {
              background-color: @grey;
              color: @white;
            }
            option {
              display: block;
              &:hover {
                background-color: @white;
                color: @grey;
              }
            }
          }

          .manufacturers-list-placeholder {
            font-size: @font-size * 0.8;
            margin: 8px 0 0 5px;
            width: 225px;
            word-wrap: break-word;
            color: @grey;
          }

          .manufacturer-name-sorter {
            display: block;
            width: auto;
            padding: 8px;
            font-size: @font-size;
            color: @grey;
            cursor: pointer;
            border-radius: 8px;
            border: 1px solid #cccccc;
            margin-top: -114px;
            margin-left: 212px;
            &:hover {
              background-color: @grey;
              color: @white;
            }
          }
        }

        .manufacturer {
          h3 {
            font-size: 1.6em;
            font-weight: @fw-bold;
            color: @orange;
            span {
              color: @grey;
              text-shadow: none;
              font-size: 0.75em;
              font-weight: @fw-bold;
            }
            b.currency {
              color: @blue1;
              font-size: @font-size * 1.2;
            }
          }

          h3.name, h3.model {
            .headers();
          }

          h3.foundation-date {
            margin-bottom: 25px;
          }

          .manufacturer-left {
            text-align: right;
            padding-right: 20px;
          }
        }
      }
  }
}
