/** COMMON VARIABLES **/
@font: normal 1em/1.2em Times, 'Helvetica Neue', sans-serif;
@fw-bold: 600;
@blue1: #26769f;
@blue2: #06799F;
@blue3: #4b75ba;
@orange: #ce771a;
@grey:#6e716e;
@white: #ffffff;
@font-size: 1em;
@bs: 0 0 8px 2px #dee0e2;

/** MIXINS **/
.manufacturer-btn {
  display: inline-block;
  color: @white;
  font-size: 2.5em;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #d48836;
  border: 2px solid #f7b670;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #8e6131;
    border-color: #b55e00;
  }
}

.headers(@color: @blue2; @font-size: 2.9em; @font-weight: 700; @text-align: center;
  @margin: 0; @text-shadow: 1px 1px 1px #2e7a88;) {
  color: @color;
  font-size: @font-size;
  font-weight: @font-weight;
  text-align: @text-align;
  margin: @margin;
  text-shadow: @text-shadow;
}

/** COMMON STYLES **/
& when (@media-common = true) {

  .switcher-store, .switcher-language {
    background-color: @grey;
    padding: 0 5px;
    border-radius: 2px;
    .switcher-dropdown {
      border-radius: 2px;
    }
  }
  .switcher-language {
    background-color: @orange;
  }

  .category-view {
    position: relative;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: @bs;
    min-height: 400px;

    .my-sorting {
      margin-left: -171px;
      margin-top: 55px;
      width: 400px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      appearance: none;
      display: block;
      &:focus, &:hover,
      option:hover, option:focus {
        border:none;
        outline:none;
        border:transparent;
        box-shadow: none;
      }
    }

    h1.manufacturer-block-name {
        .headers(@color: @orange; @font-size: 2em; @text-align: center; @text-shadow: none);
        &::first-letter {
          text-transform: uppercase;
        }
      }

      .manufacturer-container {
        padding: 5px;
        h1, h2, h3, p, span, a {
          font: @font;
        }

        a, a:hover {
          text-decoration: none;
        }
        a.manufacturer-btn {
          .manufacturer-btn();
        }

        h3.view-model {
          font-size: 1.25em;
          span {
            color: @orange;
            font-weight: @fw-bold;
          }
        }

        .manufacturers-sort {
          position: absolute;
          top: 3%;
          right: 4%;

          select.manufacturers-list {
            width: auto;
            padding: 7px 30px 5px 10px;
            line-height: 1.3em;
            font-size: @font-size;
            color: @grey;
            cursor: pointer;
            border-radius: 8px;
            border: 1px solid #cccccc;
            &:hover {
              background-color: @grey;
              color: @white;
            }
            option {
              display: block;
              &:hover {
                background-color: @white;
                color: @grey;
              }
            }
          }

          .manufacturers-list-placeholder {
            font-size: 0.8em;
            margin-top: 8px;
            margin-left: 5px;
            width: 225px;
            word-wrap: break-word;
            color: @grey;
          }

          .manufacturer-name-sorter {
            display: block;
            width: auto;
            margin-right: 1%;
            padding: 8px;
            font-size: @font-size;
            color: @grey;
            cursor: pointer;
            border-radius: 8px;
            margin-left: 83%;
            border: 1px solid #cccccc;
            &:hover {
              background-color: @grey;
              color: @white;
            }
          }
        }

        .manufacturer {
          h3 {
            font-size: 1.6em;
            font-weight: @fw-bold;
            color: @orange;
            span {
              color: @grey;
              text-shadow: none;
              font-size: 0.75em;
              font-weight: @fw-bold;
            }
            b.currency {
              color: @blue1;
              font-size: @font-size * 1.2;
            }
          }

          h3.name, h3.model {
            .headers();
          }

          h3.foundation-date {
            margin-bottom: 25px;
          }

          .manufacturer-left {
            text-align: right;
            padding-right: 20px;
            h3.price {
              margin-right: 14.5%;
            }
          }
        }
      }
  }
}

/** MOBILE STYLES **/
@media only screen
and (max-device-width: 320px)
and (orientation: portrait) {
  div.category-view  {
    h1.manufacturer-block-name {
      font-size: @font-size * 1.5;
    }
    .manufacturer-container {
      .manufacturer {
        h3 {
          font-size: @font-size * 1.2;
        }
        h3.name {
          font-size: @font-size * 2;
        }
        h3.model {
          font-size: @font-size * 1.8;
          text-align: left;
        }
        .manufacturer-left {
          h3.price {
            margin-right: 0;
          }
        }
      }
      a.manufacturer-btn {
        font-size: 1.2em;
        margin-left: 10%;
      }
      .manufacturers-sort {
        position: inherit;
        margin-left: -3%;
        margin-bottom: -12%;
        .manufacturer-name-sorter {
          position: fixed;
          top: 28%;
          right: 9%;
        }
      }
    }
  }
}

@media only screen
and (min-device-width: 321px)
and (max-device-width: 360px)
and (orientation: portrait) {
  div.category-view  {
    .manufacturer-container {
      a.manufacturer-btn {
        font-size: 1.5em;
        margin-left: 4%;
      }
      .manufacturers-sort {
        position: relative;
        top: 3%;
        right: 4%;
        .manufacturer-name-sorter {
          top: 32%;
          right: 6%;
          position: fixed;
        }
      }
      .manufacturer {
        .manufacturer-left {
          h3.price {
            margin-right: 0;
          }
        }
        h3.model {
          font-size: 2em;
          text-align: left;
        }
      }
    }
  }
}

@media only screen
and (min-device-width: 361px)
and (max-device-width: 480px)
and (orientation: portrait) {
  div.category-view {
    .manufacturer-container {
      a.manufacturer-btn {
        font-size: 1.5em;
        margin-left: 7%;
        .manufacturer {
          h3.model {
            font-size: 1.9em;
            text-align: left;
          }
          .manufacturer-left {
            h3.price {
              margin-right: 0;
            }
          }
        }
      }
      .manufacturers-sort {
        position: relative;
        top: 6%;
        right: 4%;
        .manufacturer-name-sorter {
          position: fixed;
          top: 28.2%;
          right: 6%;
        }
      }
    }
  }
}

@media only screen
and (max-device-width: 568px)
and (orientation: landscape) {
  div.category-view {
    .manufacturer-container {
      a.manufacturer-btn {
        font-size: @font-size * 2;
      }
      .manufacturers-sort {
        position: relative;
        top: 13%;
        right: 4%;
        margin-bottom: -8%;
        .manufacturer-name-sorter {
          position: fixed;
          top: 64%;
          right: 4%;
        }
      }
      .manufacturer {
        h3.model {
          font-size: @font-size * 2.2;
          text-align: left;
        }
        .manufacturer-left {
          h3.price {
            margin-right: 0;
          }
        }
      }
    }
  }
}




@media only screen
and (min-device-width: 569px)
and (max-device-width: 768px)
and (orientation: landscape) {
  div.category-view {
    .manufacturer-container {
      a.manufacturer-btn {
        font-size: @font-size * 2;
      }
      .manufacturers-sort {
        position: relative;
        top: 13%;
        right: 1%;
        margin-bottom: -8%;
        .manufacturer-name-sorter {
          position: fixed;
          top: 58%;
          right: 4%;
        }
      }
      .manufacturer {
        h3.model {
          font-size: @font-size * 2.2;
          text-align: left;
        }
        .manufacturer-left {
          h3.price {
            margin-right: 0;
          }
        }
      }
    }
  }
}


/*@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1440px)
and (orientation: portrait) {

}



 .media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
  .category-view {
    .manufacturer-container {
      div.manufacturers-sort {
        top: 9%;
      }
    }
  }
}*/
