<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="my_custom_observer" instance="Slayer\Test\Observer\MyCustomObserver" />
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="my_custom_observer-checkout" instance="Slayer\Test\Observer\CheckoutObserver" />
    </event>
</config>